
     <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-lg-3 col-sm-6">
            <p class="footer-title">Chăm sóc kch hàng</p>
            <ul class="footer-list">
              <li class="footer-item">
                <a href="" class="footer-item_link">Trung tâm trợ giúp</a>
              </li>
              <li class="footer-item">
                <a href="" class="footer-item_link">Shoppe Mail</a>
              </li>
              <li class="footer-item">
                <a href="" class="footer-item_link">Hướng dẫn mua hàng</a>
              </li>
            </ul>
          </div>
          <div class="col-md-3 col-lg-3 col-sm-6">
            <p class="footer-title">Danh mục</p>
            <ul class="footer-list">
              <li class="footer-item">
                <a href="" class="footer-item_link">Iphon 11 ProMax</a>
              </li>
              <li class="footer-item">
                <a href="" class="footer-item_link">Iphon 12 ProMax</a>
              </li>
              <li class="footer-item">
                <a href="" class="footer-item_link">Iphon 13 ProMax</a>
              </li>
            </ul>
          </div>
          <div class="col-md-3 col-lg-3 col-sm-6">
            <p class="footer-title">Theo dõi</p>
            <ul class="footer-list">
              <li class="footer-item">
                <a href="" class="footer-item_link">
                  <i class="footer-item__icon fab fa-facebook"></i>
                  Facebook</a
                >
              </li>
              <li class="footer-item">
                <a href="" class="footer-item_link">
                  <i class="footer-item__icon fab fa-instagram"></i>
                  Instagram</a
                >
              </li>
              <li class="footer-item">
                <a href="" class="footer-item_link">
                  <i class="footer-item__icon fab fa-youtube-square"></i>
                  Youtube</a
                >
              </li>
            </ul>
          </div>
          <div class="col-md-3 col-lg-3 col-sm-6">
            <p class="footer-title">Vào cửa hà trên ứng dụng</p>
            <div class="row">
              <img
                src="./assets/img/qrcode.png"
                alt="Download QR"
                class="col-md-6 col-6"
              />
              <div class="col-md-6 col-6 download">
                <img
                  src="./assets/img/androi.png"
                  alt="Google Play"
                  class=""
                />
                <img src="./assets/img/ios.png" alt="Apple " class="" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright">
        <p class="text-center">© 2021 - Bản quyền thuộc về Team 6 CIDIO 3</p>
      </div>
    </footer>
    <!-- <div class="popup">
      <div class="popup_img">
        <span><i class="fas fa-times"></i></span>
        <img src="./assets/img/qc.png" alt="" />
      </div>
    </div> -->
  </div>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  <script
    src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.5/pagination.min.js"
    integrity="sha512-1zzZ0ynR2KXnFskJ1C2s+7TIEewmkB2y+5o/+ahF7mwNj9n3PnzARpqalvtjSbUETwx6yuxP5AJXZCpnjEJkQw=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
    integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
    crossorigin="anonymous"
  ></script>
  <script src="./assets/js/pagination.js"></script>
  <script src="/js/home.js"></script>
</body>
</html>
