<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/font/fontawesome-free-5.15.3-web/fontawesome-free-5.15.3-web/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/login.css">

</head>

<body >
<div class="container">
    <div class="row d-flex justify-content-between align-items-center header-login">
        <div class="col-sm-6 col-md-2 col-lg-2 ">
                <h3 class="text__heading">
                    Đăng Nhập
                </h3>
        </div>
        <div class="col-sm-6 col-md-2 col-lg-2">
           <a href="">Cần trợ giúp ?</a>            
        </div>

    </div>
</div>
<div class="container-fluid content"> 
<div class="row d-flex justify-content-center form-login-header">
        <div class="col-sm-12 col-md-4 col-lg-3 from-login">     
            <div class="from-login_content">
                <h4 class="text__heading">
                    Đăng Nhập
                </h4>
            <form action="/login" method="POST">
            <div class="form-group">
                <input type="text" class="form-control" id="email" name="username"  placeholder="Email/Số điện thoại/Tên đăng nhập" required>
            </div>
            <div class="form-group password-input">
                <input type="password" class="form-control" placeholder="Mật khẩu" id = "password" name="password" required >
                <i class="far fa-eye show-password"></i>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="dropdownCheck">
                <label class="form-check-label" for="dropdownCheck">
                  Nhớ mật khẩu
                </label>
              </div>
              <button  type="submit" class="btn btn-lg btn-block btn_login"  value="Login" >ĐĂNG NHẬP</button>
              <p style="color: red;" ><%= errTitle  %> </p>
             
            </form>
           
            <hr>
            <p>Bạn mới biết Shoppe?<a class="" href="register"> Đăng kí</a></p>
            <a class="" href="#">Quên mật khẩu?</a>
            <hr>
            <div class="row justify-content-between btn_social col-md-12">
                <button type="button" class="btn btn-primary col-12 col-sm-12 "><i class="fab fa-facebook icon"></i>Facebook</button>
                <button type="button" class="btn btn-primary col-12 col-sm-12"><i class="fab fa-google icon"></i>Google</button>
                <button type="button" class="btn btn-dark col-12 col-sm-12"><i class="fab fa-apple icon"></i>Apple</button>
            </div>
          
        </div>
      
    </div>
</div>
</div>


<%-include('footer'); -%>